.section {
  height: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.fp-watermark {
  display: none !important;
}

.link {
  color: inherit;
  text-shadow: none;
}
